<header>
    <nav class="navbar bg-body-tertiary navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ArmyBody</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ArmyBody</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        {{#if user}}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/api/users/signout">Cerrar</a>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login">Ingresa</a>
                            </li>
                        {{/if}}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://localhost8080/chat">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/?category=proteina">Proteína</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/?category=creatina">Creatina</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/?category=preentreno">Preentreno</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/?category=aminoacidos">Aminoácidos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/?category=multivitaminicos">Multivitamínicos</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/cart/{{user.cart}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-minecart" viewBox="0 0 16 16">
                                    <path d="M4 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8-1a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM.115 3.18A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 14 12H2a.5.5 0 0 1-.491-.408l-1.5-8a.5.5 0 0 1 .106-.411zm.987.82 1.313 7h11.17l1.313-7H1.102z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div id="cartContainer"> 
    {{#each cartProducts}}
        <div class="card">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src={{product.thumbnail}} class="img-fluid rounded-start" alt={{product.title}}>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.price}}</p>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text"><small class="text-body-secondary">Quantity: {{quantity}}</small></p>
                        <form action="http://localhost:8080/api/carts/{{cart}}/deleteProduct/{{product._id}}" method="post">
                            <button type="submit" class="btn btn-outline-success">      
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>  
    {{/each}}
    {{!-- <form action="http://localhost:8080/api/carts/{{product.userCart}}/purchase" method="post">
        <button type="submit" class="btn btn-outline-success">Agregar al carrito</button>
    </form> --}}
</div>
